<div class="form-group">
                <label for="inputNome" class="control-label col-xs-2">Nome</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="inputNome" placeholder="Nome">
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail" class="control-label col-xs-2">Email</label>
                <div class="col-xs-10">
                    <input type="email" class="form-control" id="inputEmail" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <label for="inputTelefone" class="control-label col-xs-2">Telefone</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="inputTelefone" placeholder="Telefone">
                </div>
            </div>

            <div class="form-group">
                <label for="inputCidade" class="control-label col-xs-2">Cidade de Residencia</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="inputCidade" placeholder="Cidade">
                </div>
            </div>
  <div class="form-group col-xs-12">
                <label>Idiomas</label>
                <p>Por favor marque apenas a opção na qual você LÊ, FALA e ESCREVE BEM</p>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">Inglês</label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">Espanhol</label>
                </div>
                <div class="checkbox disabled">
                    <label>
                        <input type="checkbox" value="" disabled>Alemão</label>
                </div>
                <div class="checkbox disabled">
                    <label>
                        <input type="checkbox" value="" disabled />Italiano</label>
                </div>
                <div class="checkbox disabled">
                    <label>
                        <input type="checkbox" value="" disabled>Francês</label>
                </div>
            </div>