@using HQ_Echos___WEB.Viewmodels;
@model  MailModel

<h2>Index</h2>
<fieldset>
    <legend>
        Send Email
    </legend>
    @using (Html.BeginForm())
    {
     <h1>Muito obrigado pelo seu interesse!</h1>
                <p>
Oi!
Tudo bem?

Além de dizer que estamos muito felizes pelo seu interesse em ser um consultor da Design Echos, também gostaríamos de alinhar os próximos passos da nossa relação.

A partir das informações que você nos enviou neste formulário faremos uma pré-seleção e entraremos em contato te convidando para uma entrevista, um Skype, ou um café mesmo. ;D
Como queremos analisar bem profundamente seu perfil esperamos entrar em contato com você em até 30 dias. Desde já pedimos desculpas pela demora.

Depois desta entrevista te daremos um retorno dizendo se o seu perfil é o que estamos buscando realmente. 
E em seguida voltaremos a entrar em contato com você sempre que tivermos um projeto que se encaixe no seu perfil e nas suas áreas de interesse.


IMPORTANTE: se você tem alguma demanda de um projeto de inovação e gostaria de trazê-lo para trabalharmos juntos dê uma olhadinha na nossa seção de "Parceiro de projetos" na página: www.escoladesignthinking.com.br/


Por enquanto é isso.
Mais uma vez obrigado pelo seu interesse em trabalhar conosco e nos vemos em breve. =)


Atenciosamente,
Design Echos.</p>
        
        
    }
</fieldset>